.resumemain h3 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.resumebackpic {
  background-image: url('../../images/resumebackground.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 64.5%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

.education {
  grid-area: 7/1/80/7;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.education .first, .education .seccond {
  line-height: 30px;
  text-align: center;
}

.education .first {
  margin-bottom: 4em;
}

.education h4 {
  font-size: 30px;
  margin-top: 20px;
}

.education h5 {
  font-size: 20px;
}

.education p {
  font-size: 25px;
  margin: 5px;
}

.skills {
  grid-area: 20/7/60/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillgrid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 15px;
  margin-bottom: 0;
}

.skills figure {
  height: 180px;
  width: 180px;
}

.skills img {
  height: 100%;
  width: 100%;
}

.resume {
  grid-area: 67/7/100/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume .resumefig {
  border: 1px solid black;
  border-radius: 50px;
  width: 500px;
  height: 200px;
  overflow: scroll;
  background-color: white;
  margin: 15px;
}

.resume img {
  width: 100%;
}

.resume span {
  border-radius: 20px;
  background-color: black;
}

.resume a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 20px;
}

@media all and (max-width: 1024px) {
  .resumebackpic {
    display: block;
    height: 100%;
  }

  .education {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'edtitle edtitle'
      'ed1 ed2';
    grid-template-rows: 0.5fr 3fr;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px dashed #000;
  }

  .education .first, .education .seccond {
    line-height: 30px;
  }

  .education .first {
    grid-area: ed1;
    margin-bottom: 0;
  }

  .education h3 {
    grid-area: edtitle;
  }

  .education h4 {
    font-size: auto;
    margin-top: 0px;
  }

  .education h5 {
    font-size: auto;
  }

  .education p {
    font-size: auto;
    margin: 0px;
  }

  .education .seccond {
    grid-area: ed2;
  }

  .skills {
    margin-top: 30px;
    border-bottom: 2px dashed #000;
  }

  .skillgrid {
    margin-bottom: 30px;
  }

  .skills figure {
    height: 130px;
    width: 130px;
  }

  .resume {
    margin-top: 30px;
  }

  .resume .resumefig {
    border-radius: 30px;
    width: 300px;
    height: 100px;
  }

  .resume span {
    border-radius: 10px;
  }

  .resume a {
    padding: 5px;
    border-radius: 10px;
    font-size: auto;
  }
}

@media all and (max-width:414px) {
  .resumemain h3 {
    font-size: 40px;
    margin: 5px;
  }

  .resumebackpic {
    background-image: none;
    background-color: #B5B4B3;
  }

  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills figure {
    height: 90px;
    width: 90px;
  }
}
