* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
  width: 100vw;
  height: 100vh;
}
/*
==================================
navbar section
==================================
*/
.navbar {
  border-bottom: 1.3px solid #000;
  min-height: 5vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.navtitle {
  background-image: url('./images/Titlenav.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
}
.navtitle h2 {
  color: white;
  font-size: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.3em;
}
.navmenu {
  width: 50%;
}
.navmenu ul {
  list-style: none;
  display: inline-flex;
  height: 100%;
  width: 100%;
}
.navmenu li {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navmenu li:hover {
  background-color: black;
}
.navmenu a {
  font-size: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.navmenu a:hover {
  color: white;
}
/*
==================================
home main section
==================================
*/
main {
  width: 100vw;
  height: 95vh;
}
.homebackpic {
  height: 100%;
  background-image: url('images/me.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.subhead {
  position: absolute;
  bottom: 7%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subhead h1 {
  text-align: center;
  font-size: clamp(40px, 6vw, 6em);
}
.subhead h4 {
  padding: 1.5rem;
  text-align: center;
  font-size: clamp(5px, 2vw, 2em);
}
.mainbutton {
  border-radius: 45px;
  background-color: black;
}
.mainbutton span {
  display: flex;
  border-radius: 45px;
}
.mainbutton a {
  font-size: clamp(1.3em, 2vw, 2em);
  border-radius: 45px;
  padding: 2px 20px;
  color: white;
  cursor: pointer;
}
/*
==================================
resume main section
==================================
*/
.resumemain h3 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.resumebackpic {
  background-image: url('./images/resumebackground.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 64.5%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

.education {
  grid-area: 7/1/80/7;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.education .first, .education .seccond {
  line-height: 30px;
  text-align: center;
}

.education .first {
  margin-bottom: 4em;
}

.education h4 {
  font-size: 30px;
  margin-top: 20px;
}

.education h5 {
  font-size: 20px;
}

.education p {
  font-size: 25px;
  margin: 5px;
}

.skills {
  grid-area: 20/7/60/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillgrid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 15px;
  margin-bottom: 0;
}

.skills figure {
  height: 180px;
  width: 180px;
}

.skills img {
  height: 100%;
  width: 100%;
}

.resume {
  grid-area: 67/7/100/13;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume .resumefig {
  border: 1px solid black;
  border-radius: 50px;
  width: 500px;
  height: 200px;
  overflow: scroll;
  background-color: white;
  margin: 15px;
}

.resume img {
  width: 100%;
}

.resume span {
  border-radius: 20px;
  background-color: black;
}

.resume a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 20px;
}

/*
==================================
about main section
==================================
*/
.aboutbackpic {
  background-image: url('images/guy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.aboutsec1, .aboutsec2 {
  width: 500px;
  margin: 20px;
}

.aboutmain h3 {
  font-size: 30px;
  margin: 10px;
}

.aboutmain p {
  font-size: 18px;
  line-height: 22px;
}

/*
==================================
contact main section
==================================
*/
.contactbackpic {
  border: 1px solid currentColor;
  background-image: url('./images/splatback.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
}

.infosection {
  width: 50%;
}

.infohead {
  font-size: 50px;
  margin: 40px 30px;
}

.info1 {
  font-size: 30px;
  margin: 40px 30px;
}

.inputsection {
  display: flex;
  justify-content: center;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

form label {
  font-size: 25px;
  background-color: white;
  border-radius: 25px;
  padding-right: 10px;
}

form input {
  border: 1px solid grey;
  width: 450px;
  height: 40px;
  font-size: inherit;
  margin-bottom: 10px;
}

form textarea {
  width: 450px;
  height: 120px;
  font-size: inherit;
}

.formsubmitbutton {
  border: 1px solid black;
  background-color: black;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  float: right;
  cursor: pointer;
  margin: 10px 0;
  font-size: 20px;
}

/*
==================================
project main section
==================================
*/
.projectback {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    'title github'
    'wrapper wrapper';
}

.projecttitle {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projecttitle h1 {
  font-size: 70px;
  text-decoration: underline;
}

.gitsection {
  grid-area: github;
  padding: 60px;
  text-align: right;
}

.gitsection h3 {
  font-size: 40px;
}

.gitbutton {
  border-radius: 25px;
}

.gitbutton button {
  border: 1px solid black;
  color: white;
  font-size: 25px;
  padding: 6px 20px;
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
}

.projectwrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}

.projectbox {
  display: flex;
}

.projectbox .boxtitle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 30px;
  writing-mode: vertical-rl;
  width: 300px;
}

.odd .boxtitle {
  transform: rotate(180deg);
}

.projectbox figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.even figure {
  order: -1;
}

.projectbox img {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.projectbox a {
  border: 2px solid black;
  position: absolute;
  background-color: grey;
  border-radius: 25px;
}

.projectbox button {
  border-radius: 25px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}


@media all and (max-width: 1024px) {

  /*
  ==================================
  navbar section(1024px)
  ==================================
  */
  .navbar {
    height: 15em;
    flex-direction: column;
    align-items: center;
  }
  .navtitle {
    height: 6em;
    width: 100%;
    background-image: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navtitle h2 {
    text-align: center;
    font-size: 45px;
    padding: 0;
  }
  .navmenu {
    height: 100%;
    width: 100%;
  }
  .navmenu ul {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-areas:
      'navhome navresume'
      'navabout navcontact';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .navmenu li {
    border: 1px solid black;
  }
  .homelink, .resumelink, .aboutlink, .contactlink {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homelink {
    grid-area: navhome;
  }
  .resumelink {
    grid-area: navresume;
  }
  .aboutlink {
    grid-area: navabout;
  }
  .contactlink {
    grid-area: navcontact;
  }
  .navmenu a {
    text-align: center;
    font-size: 28px;
  }

  /*
  ==================================
  home main section(1024px)
  ==================================
  */
  main {
    height: 95vh;
  }
  .homebackpic {
    height: 100%;
    background-image: url('images/me.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .subhead {
    position: absolute;
    bottom: 10%;
    left: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subhead h1 {
    text-align: center;
    font-size: clamp(1em, 12vw, 5.5em);
  }
  .subhead h4 {
    padding: 0;
    font-size: clamp(1em, 7vw, 3em);
    text-align: center;
  }
  .mainbutton {
    order: -1;
    border-radius: 40px;
  }
  .mainbutton span {
    border-radius: 40px;
  }
  .mainbutton a {
    border-radius: 40px;
    font-size: clamp(1em, 5vw, 2.2em);
    padding: 5px 20px;
  }
  /*
  ==================================
  resume main section(1024px)
  ==================================
  */
  .resumebackpic {
    display: block;
    height: 100%;
  }

  .education {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      'edtitle edtitle'
      'ed1 ed2';
    grid-template-rows: 0.5fr 3fr;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px dashed #000;
  }

  .education .first, .education .seccond {
    line-height: 30px;
  }

  .education .first {
    grid-area: ed1;
    margin-bottom: 0;
  }

  .education h3 {
    grid-area: edtitle;
  }

  .education h4 {
    font-size: auto;
    margin-top: 0px;
  }

  .education h5 {
    font-size: auto;
  }

  .education p {
    font-size: auto;
    margin: 0px;
  }

  .education .seccond {
    grid-area: ed2;
  }

  .skills {
    margin-top: 30px;
    border-bottom: 2px dashed #000;
  }

  .skillgrid {
    margin-bottom: 30px;
  }

  .skills figure {
    height: 130px;
    width: 130px;
  }

  .resume {
    margin-top: 30px;
  }

  .resume .resumefig {
    border-radius: 30px;
    width: 300px;
    height: 100px;
  }

  .resume span {
    border-radius: 10px;
  }

  .resume a {
    padding: 5px;
    border-radius: 10px;
    font-size: auto;
  }

  /*
  ==================================
  about main section(1024px)
  ==================================
  */
  .aboutbackpic {
    background-image: url('images/guy.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: 400%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .aboutsec1, .aboutsec2 {
    border-radius: 30px;
    position: relative;
    background-color: lightgray;
    width: 600px;
    margin: 20px;
  }

  .aboutmain h3 {
    font-size: 30px;
    margin: 10px;
  }

  .aboutmain p {
    font-size: 25px;
    line-height: 30px;
  }

  /*
  ==================================
  contact main section(1024px)
  ==================================
  */
  form {
    padding-top: 100px;
  }

  form input {
    width: 400px;
    height: 35px;
  }

  form textarea {
    width: 400px;
  }

  /*
  ==================================
  project main section(1024px)
  ==================================
  */
  .projectback {
    display: block;
  }

  .projecttitle {
    text-align: center;
    padding: 10px;
  }

  .gitsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    padding: 0;
  }

  .projectwrapper {
    padding: 50px;
    grid-gap: 3em;
  }

  .projectwrapper div {
    border: 2px solid black;
  }

  .projectbox {
    border: 5px solid darkgrey;
    flex-direction: column;
    margin: 0;
    border-radius: 50px;
    overflow: hidden;
  }

  .projectbox .boxtitle {
    border: 2px solid white;
    align-items: center;
    padding: 10;
    width: 100%;
    font-size: 22px;
    height: 50px;
    background-color: white;
    border-bottom: 2px solid black;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }

  .projectbox figure {
    order: 0;
    position: relative;
    background-color: white;
  }

  .projectbox img {
    border: 1px solid black;
  }

  .projectbox span {
    bottom: 50%;
  }
}

@media all and (max-width:414px) {

  /*
  ==================================
  navbar section(414px)
  ==================================
  */
  .navbar {
    height: 15em;
  }
  .navtitle {
    height: 5em;
  }
  .navtitle h2 {
    font-size: 35px;
  }
  .navmenu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navmenu li {
    flex: 1;
  }
  .navmenu a {
    font-size: 25px;
  }
  /*
  ==================================
  home main section(414px)
  ==================================
  */
  .subhead {
    bottom: 20px;
    width: 100%;
  }
  .subhead h1 {
    font-size: 35px;
  }
  .subhead h4 {
    padding: 0;
    font-size: 25px;
  }
  .mainbutton span {
    display: block;
    height: 25px;
    width: 75px;
    border-radius: 20px;
  }
  .mainbutton a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 20px;
  }
  /*
  ==================================
  resume main section(414px)
  ==================================
  */
  .resumemain h3 {
    font-size: 40px;
    margin: 5px;
  }

  .resumebackpic {
    background-image: none;
    background-color: #B5B4B3;
  }

  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills figure {
    height: 90px;
    width: 90px;
  }

  /*
  ==================================
  about main section(414px)
  ==================================
  */
  .aboutbackpic {
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .aboutsec1, .aboutsec2 {
    border: 3px solid black;
    margin: 20px;
    left: none;
    border-radius: 1px;
    width: auto;
    overflow: scroll;
  }

  .aboutmain h3 {
    font-size: 19px;
    margin: 0;
  }

  .aboutmain p {
    font-size: 16px;
    line-height: normal;
  }

  /*
  ==================================
  contact main section(414px)
  ==================================
  */
  .contactbackpic {
    background-position: 35% 50%;
    display: block;
  }

  .infosection {
    width: 100%;
    text-align: center;
  }

  .infohead {
    font-size: 30px;
    margin: 10px;
  }

  .info1 {
    font-size: inherit;
    margin: 20px 15px;
  }

  .inputsection {
    width: 100%;
  }

  form {
    padding: 0;
    display: block;
  }

  form label {
    font-size: 20px;
  }

  form input {
    width: 200px;
    height: 25px;
  }

  form textarea {
    width: 200px;
    height: inherit;
  }

  .formsubmitbutton {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: inherit;
  }

  /*
  ==================================
  project main section(414px)
  ==================================
  */
  .projectback {
    display: block;
  }

  .projecttitle h1 {
    font-size: 50px;
  }

  .gitsection h3 {
    font-size: 30px;
  }

  .gitbutton button {
    font-size: 15px;
    padding: 5px 15px;
  }

  .projectwrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .projectbox {
    margin: 0 0 25px 0;
  }
}
